body{
     font-family:Arial;
    background-color: #d2f0f0;
    padding:0;
    margin: 0;
}
nav{
    background-color:rgb(102, 216, 218) ;
    color: white;
    height: 12vh;
}
.navbar{
    justify-content: space-between;
    display: flex;
    position:sticky;
    text-align: center;
    z-index: 1000;
}
section{
    /* height: 70vh; */
    /* width: 40%; */
    justify-content:space-between;
    align-items: center;
    display: flex;
    position:sticky;
    padding: 20px 90px;
}
.cards{
    background: rgb(155, 227, 232);
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 20px 25px rgba(0,0,0,0.1);
  transition: 0.3s;
  width: 30%;
}
.cards:hover {
  transform: translateY(-8px);
}
li{
    list-style: none;
}
footer{
    background-color:rgb(102, 216, 218);
    height: 170px;
    /* padding: 1em 0; */
    width: 100%;
    position: relative;
}
.flex{
    
   justify-content:space-between;
   align-items: center;
   position: sticky;
}
  
.foot{
     padding:  10px;
}
.foot2{
    display:flex;
    padding: 10px 50px;
    align-items: center;
    position: sticky; 
    justify-content: space-evenly;
}

.foot2 ul{
    list-style:none;
}