body{
    font-family:Arial;
    background-color: #d2f0f0;
    padding:0;
    margin: 0;
}

h1{
    color:#222;
}
h2{
    color:#444;
    margin-top:30px;
}
h3{
        display: block;
    margin-inline-start: 50px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

p,li{
    font-size: 16px;
}
nav{
    background-color:rgb(102, 216, 218);
    height: 10vh;
    position:sticky;
    z-index: 1000;
    display:flex;
    justify-content:space-between;
    align-items: center;
    
}

.logo{
    
    color:white;
}
.navbar{
     /* margin: 0 30px 20px 600px; */
     color: white;
       
}
a{
    margin: 0 23px 0 10px;
    color: white;
    padding: 0.5em 1em;
}
footer{
    background-color:rgb(102, 216, 218);
    height: 170px;
    /* padding: 1em 0; */
    width: 100%;
    position: relative;
}
.flex{
    
   justify-content:space-between;
   align-items: center;
   position: sticky;
}
  
.foot{
     padding:  10px;
}
.foot2{
    display:flex;
    padding: 10px 50px;
    align-items: center;
    position: sticky; 
    justify-content: space-evenly;
}

.foot2 ul{
    list-style:none;
}
section{
    
     padding: 0;
     margin: 0;
}
.left{
  
    font: size 3rem;
    margin: 70px;
}
.right img{
    width:120%;
    margin: 50px 0;
    height: 90vh;
}
.hero{
    height:72vh;
     display: flex;
    justify-content: space-around;
    margin: 80px 0;
    align-items: center;
}
.hero div{
    width:30%;
}
.color{
    color: rgb(59, 68, 152);
}

button{
    background-color: rgb(59, 68, 152);
    border-radius: 10cap;
    
}
nav button a:hover{
       color:  aqua;
       /* background-color: aqua; */
       font-size:1.04rem
       
}
.btn:hover{
    background-color: aqua;
}